<div id="contenedorcontacto">
    <div id="imagen">
        <img src="../../assets/img/contacto2.svg" width="250px">
    </div>
    <div id="enlaces">
        <ul>
            <li><img src="../../assets/img/F_icon.svg.png" width="30px" height="30px" style="padding-right: 10px;"> <a href="https://www.facebook.com/OdontopediatriaVer" target="_blank">Odontopediatria Veracruz</a> </li>
            <li><img src="../../assets/img/logo-telefono-rosa.svg" width="30px" height="30px" style="padding-right: 10px;"> 229 266 6590 </li>
            <li><img src="../../assets/img/whatsapp-icon.png" width="33px" height="33px" style="padding-right: 10px;"> 229 266 6590 </li>
            <li><img src="../../assets/img/logo-ubicacion.svg" width="33px" height="33px" style="padding-right: 10px;"><a href="https://www.google.com/maps/place/Odontopediatria+Veracruz/@19.20357,-96.1658871,17z/data=!4m6!3m5!1s0x85c3443d4d754017:0xae1dbc981c46d85f!8m2!3d19.204384!4d-96.163483!16s%2Fg%2F11cjplxfrj?entry=ttu" target="_blank">Dirección: Calle Murillo 898, Jardín, C.P: 91880,Veracruz, Ver.</a></li>
        </ul>
    </div>
</div>
