<div id="contenedorcontacto">
    <div id="imagen">
        <img src="../../assets/img/contacto2.svg" width="250px">
        <h2>Doctora Ancy Muñiz </h2>
    </div>
    <div id="enlaces">
        <ul style="display: inline-block; margin-top: 20px;">
            <li><img src="../../assets/img/F_icon.svg.png" width="25px" height="25px" style="padding-right: 10px;"> <a href="https://www.facebook.com/OdontopediatriaVer" target="_blank">Odontopediatria Veracruz</a> </li>
            <li><img src="../../assets/img/logo-telefono-rosa.svg" width="25px" height="25px" style="padding-right: 10px;"> 229 266 6590 </li>
            <li><img src="../../assets/img/whatsapp-icon.png" width="25px" height="25px" style="padding-right: 10px;"> 229 266 6590 </li>
            <li><img src="../../assets/img/logo-ubicacion.svg" width="25px" height="25px" style="padding-right: 10px;"><a href="https://www.google.com/maps/place/Odontopediatria+Veracruz/@19.20357,-96.1658871,17z/data=!4m6!3m5!1s0x85c3443d4d754017:0xae1dbc981c46d85f!8m2!3d19.204384!4d-96.163483!16s%2Fg%2F11cjplxfrj?entry=ttu" target="_blank">Dirección: Calle Murillo 898, Jardín, C.P: 91880,Veracruz, Ver.</a></li>
        </ul>
        <br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2664.2312123842657!2d-96.16476004319138!3d19.20428888689085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c3443d4d754017%3A0xae1dbc981c46d85f!2sOdontopediatria%20Veracruz!5e0!3m2!1ses-419!2smx!4v1689038278510!5m2!1ses-419!2smx" width="400" height="300" style="border:0; margin-left: 10px; margin-top: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="360" height="170" style="border:0; margin-left: 10px; margin-top: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
