#contenedorcontacto{
    padding-top: 30px;
    font-family: Century gothic;
    display: grid;
    grid-template-columns: 50% 50%;
}

#contenedorcontacto h2{
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 25px;
}

#imagen{
    padding-top: 75px;
    padding-left: 180px;
    border-right: 1px solid #ccc;
}

#enlaces{
    padding-top: 0px;
    padding-left: 40px;
}

#enlaces ul{
    list-style: none;
    font-size: 16px;
    margin: 0;
    padding-top: 20px;
    width: 100%;
}

#enlaces ul li a{
    text-decoration: none;
}

#enlaces iframe{
    margin-left: 50px;
    padding-bottom: 20px;
}