@font-face{
    font-family: "ubuntutitle";
    src: url("../fonts/Clubbed-to-Life.otf");
}
@font-face{
    font-family: "superindie";
    src: url("../fonts/SuperIndie.ttf");
}

/*Estilos generales*/
*{
    margin: 0px;
    padding: 0px;

}

body{
    font-family: "ubuntutitle";
    font-size: 20px; 
    background: url("../img/bgop4-300.jpg");
    background-attachment: fixed;
}
.clearfix{
    float:none;
    clear: both;
}

/*Maquetando la cabecera*/

header{
    width: 100%;
    height: 140px;
    position: fixed;
    z-index: 90000;
}

header div{
    display: block;
    width: 100%;
    height: 60%;
    background: linear-gradient(to right, #EB3587 40%, #e072a4) /*rgb(220, 228, 65)*/;
}
header div li{
    display: inline-block;
    padding-left: 20px;
}


header ul{
    display:block;
    width: 100%;
    margin: 0px auto;
    background: linear-gradient(to right, #e2629c , #EB3587 ) /* rgb(220, 228, 65)*/;
}
header ul li{
    display: inline-block;
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
}
header ul li a{
    display: block;
    height: inherit;
    text-align: center;
    color:aliceblue;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

header a:hover,
.actived{
    background-color: rgb(238, 6, 111);
}

/*contenedor principal*/
#content{
    min-height: 500px;
    width: 75%;
    margin: 0px auto;
    box-shadow: 0px 0px 40px black;
    background: rgba(255,255,255,0.6);
    padding-top: 130px;

}

/*pie de pagina*/

footer{
    width: 75%;
    margin:0px auto;
    padding-top: 10px;
    font-family: arial;
    color: rgba(0,0,0,0.7);
    font-size: 15px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
