<div id="title">
    <h1>Odontopediatria Veracruz</h1>
</div>
<section>
    <div class="contenido">
        <article>
            <h2>La mejor atención odontológica para tu pequeño</h2>
            <p> 
                Somos un consultorio odontopediatríco con 6 años de existencia el cual se especializa en el desarrollo y tratamiento dental de niños y recién nacidos.<br><br>
                La odontopediatra Ancy es la encargada de los servicios en Odontopediatría Veracruz, ella cuenta con una amplia formación académica:
            </p>    
                <ul>
                    <li> <p> Cirujano dentista egresada de la Universidad Veracruzana (UV).</p></li>
                    <li> <p> Especialidad en estomatología en pediatría egresada de la Benemérita Universidad Autónoma de Puebla (BUAP).</p></li>
                </ul>
            <p> También cuenta con diferentes certificaciones y cursos adicionales como son:</p>
                <ul>
                    <li>...</li>
                    <li>...</li>
                    <li>...</li>
                </ul>
            <br>
            <p> El equipo de trabajo de la odontopediatra Ancy está conformado por sus 2 asistentes Sandra y Beatriz que están siempre disponibles para brindar la mejor atención y servicio a todos los pacientes y familiares. </p>
            <br>
        </article>
    </div>


    <aside id="containslider">
        <div id="cslid">
            <div class="bxslider">
                <div><img src="./assets/img/fondooriginal.jpg" title="Coffee 1"/></div>
                <div><img src="./assets/img/pacientes1.jpg" title="Coffee 2" /></div>
                <div><img src="./assets/img/instalaciones.jpg" title="Coffee 3" /></div>
            </div>
        </div>
    </aside>

    <div class="clearfix"></div>
</section>