/*Estilos de seccion citas agendadas*/

h2{
    display: block;
    border-bottom: 1px solid #ccc;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 90%
}

.wrapper{
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 1px;
}

.contenido{
    font-family: "Century gothic";
    margin-left: 20px;
    margin-bottom: 20px;
}

.pacientes{
    width: 100%;
    list-style-type: none;    
}

.btn{
    width: 27%;
    float: left;
    padding-top: 10px;
    text-align: center;
    margin-left: 30px;
    font-family: Century Gothic;
    padding-bottom: 10px;
    margin-bottom: 25px;
    border: none;
    background-color: #d6df24e8;
    border-radius: 10%;
}

.btn:hover{
    background-color: #eb3587d5;
    color: white;
}

.btn:focus{
    background-color: #eb3587d5;
    color: white;
}

.componentedetallesdis{
    display: none;
}

.componentedetalles{
    border: 3px solid #eb3587d5;
    width: 80%;
    float: right;
    top: 10%;
    transition: opacity 1s;
    border-radius: 5%;
    height: 105%;
    margin-top: -10px;
}

