<div id="title">
    <h1>Servicios</h1>
</div>

<div id="descripcion">
    <p>Contamos con la mejor calidad de servicios odontológicos integrales para tu pequeño desde recién nacidos hasta adolescentes de 16 años, para que tus pequeños luzcan su mejor sonrisa.</p> <br>
    <h2>Ofrecemos:</h2> <br>
        <ul>
            <li>Servicios de odontopediatricos: Especializados en niños y bebes.</li>
            <li>Servicios de ortopedia maxilar: Tratamiento y prevención de los desórdenes maxilares.</li>
        </ul> <br>
    <h2>Tratamientos:</h2> <br>
        <div id="contenedor">
            
                <div class="preventivo">
                <p>Preventivos </p>
                <ul>
                    <li> Profilaxis. </li>
                    <li> Aplicación de flúor. </li>
                    <li> Uso de hilo dental.</li>
                    <li> Aplicación de selladores.</li>
                    <li> Técnicas de cepillado de acuerdo con la edad.</li>
                </ul> 
                <br>
                <aside id="containslider">
                    <div id="cslid">
                        <div class="bxslider">
                            <div><img src="./assets/img/profilaxis.jpg" title="Profilaxis."/></div>
                            <div><img src="./assets/img/flour.jpg" title="Aplicación de flúor." /></div>
                            <div><img src="./assets/img/hilo-dental.jpg" title="Uso de hilo dental." /></div>
                            <div><img src="./assets/img/sellador.jpg" title="Aplicación de selladores." /></div>
                            <div><img src="./assets/img/cepillado.jpg" title="Técnicas de cepillado de acuerdo con la edad." /></div>
                        </div>
                    </div>
                </aside>
            </div>
            
            <div class="correctivo">
                <p> Correctivos </p>
                <ul>
                    <li> Resinas.</li>
                    <li> Pulpectomía.</li>
                    <li> Pulpotomía.</li>
                    <li> Coronas acero cromo.</li>
                    <li> Coronas estéticas.</li>
                    <li> Ortopedia.</li>
                </ul> <br>
            </div>
        </div>
</div>


    