
/*Pagina sobre serviceoffer*/

#title{
    width: 90%;
    margin-left: 60px;
    padding-top: 45px;
    margin-bottom: 15px;
} 

#title h1{
    font-family: "Century gothic";
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#descripcion{
    width: 95%;
    font-family: "Century gothic";
    font-size: 17px;
}

#descripcion h2{
    margin-bottom: 0px;
    margin-left: 60px;
    font-size: 18px;
    padding-bottom: 0px;
    text-align: center;
}

#descripcion p{
    padding-bottom: 5px;
    margin-left: 60px;
    text-align: left;
}

#descripcion ul{
    padding-left: 6rem;
    list-style-type: none;
}

#contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 15px;
    padding-top: 5px;
}

#contenedor > div{
    width: 50;
}

.preventivo{
    width: 40%;    
    float: right;
    padding-top: 10px;
    border: none;
    background-color: #eb3587d5;
    margin-left: 55px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-bottom: 25px;
    border-radius: 5%;
}

.correctivo {
    width: 40%;    
    float: left;
    padding-top: 10px;
    border: none;
    background-color: #d6df24e8;
    margin-right: 0px;
    margin-left: 45px;
    padding-bottom: 10px;
    padding-right: 30px;
    margin-bottom: 25px;
    border-radius: 5%;
}

ul {
    padding-left: 0.5rem;
    list-style-type: none;
  }
  
ul li {
    padding-left: 2rem;
    background-image: url(../../../assets/img/logo-raton1.svg);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }

#containslider{
    width: 88%; 
    padding-top: 0px; 
}

#cslid {
    width: 300px;
    margin-left: 17%;
}

.bx-wrapper, .bx-viewport{
    height: 200px !important;
    position: static;
    z-index: index 0;
    
}